original_template.html
.DS_Store
index copy.html
index archive.html
assets/css/main archive.css
assets/css/main own.css
assets/css/main clean.css
assets/docs/cv-Radmir-in.pdf
.gitignore
assets/docs/tf_certificate.pdf
